@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
/* dark-light mode */
html[data-theme="dark"] {
  /* --dot-bg: #000; */
  /* --dot-color: #fff; */
  --bg-color: #000;
  /* --nav-bg-color: #000; */
  /* --border-color: rgb(15, 23, 42); */
}

html[data-theme="light"] {
  /* --dot-bg: #fff; */
  /* --dot-color: #000; */
  --bg-color: #fff;
  /* --nav-bg-color: #fff; */
  /* --border-color: rgb(213, 213, 220); */
}

body {
  background: var(--bg-color);
  /* 
  // grid page
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color); */

}